<!-- home.component.html -->
<div style="
  background-image: url('assets/home-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1024px;">

<!--  <nav class="nav-bar">-->
<!--    &lt;!&ndash; Brand logo &ndash;&gt;-->
<!--    &lt;!&ndash;    <img src="my-logo" alt="Logo">&ndash;&gt;-->
<!--    <div class="auth-buttons">-->
<!--      &lt;!&ndash; Navigation buttons &ndash;&gt;-->
<!--      <button>Log in</button>-->
<!--      <button>Sign up</button>-->
<!--    </div>-->
<!--  </nav>-->

  <header class="main-header">
    <!-- Page title and subtitle -->
    <h1>Order delivery near you</h1>
    <!-- Delivery address input and search button -->
    <div class="search-container">
      <input type="text" placeholder="Enter delivery address">
      <button routerLink="/restaurant-list">Search here</button>
    </div>
  </header>

</div>

