<!-- home.component.html -->
<div style="
  background-image: url('assets/home-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1024px;">
  <!-- 你的其他组件内容将放在这里，它们将显示在背景图片上方 -->
  <nav class="nav-bar">
    <!-- Brand logo -->
    <!--    <img src="my-logo" alt="Logo">-->
    <div class="auth-buttons">
      <!-- Navigation buttons -->
      <button>Log in</button>
      <button>Sign up</button>
    </div>
  </nav>

  <header class="main-header">
    <!-- Page title and subtitle -->
    <h1>Order delivery near you</h1>
    <!-- Delivery address input and search button -->
    <div class="search-container">
      <input type="text" placeholder="Enter delivery address">
      <button>Search here</button>
    </div>
  </header>

</div>

