<!-- app.component.html -->
<div class="main-container">
  <nav class="nav-bar">
    <!-- Brand logo -->
    <!-- <img src="my-logo" alt="Logo"> -->
    <div class="auth-buttons">
      <!-- Navigation buttons -->
      <button>Log in</button>
      <button>Sign up</button>
    </div>
  </nav>

  <!-- Dynamic content will be injected here -->
  <router-outlet></router-outlet>

  <footer class="footer-words">
    <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
      © 2024 my-restaurant Technologies Inc.</p>
  </footer>
</div>
